.card{
    background-color: green;
    color: #fff ;
    height: 225px;
    &__title{
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    &__detail{
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }
    &__header{
        font-size: 22px;
    }
    &__detail{
       margin-top: 20px;
    }
}