.sider{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    border-right: 1px solid #ddd;
}
.layout{
    background-color: #ddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header{
        height: 50px;
        padding: 10px;
        background-color: #fff;
        display: flex;
        justify-content: end;
        align-items: center;
        border-bottom: 2px solid #ddd;
    }
    &__header-icon{
        .btn{
            background-color: green;
            font-size: 20px;
            border-radius: 50%;
            margin-right: 50px;
            cursor: pointer;
        }
        span{
            color: #fff;
        }
    }
 
}

.content{
    background-color: #F9FAFB;
}
.footer{
  
}
.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}