.form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #ddd ;
    &__title{
        
        text-align: center;
        font-size: 28px;
        font-weight: 500;
    }
}
