.home{
   
}
.banner{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: auto;
    padding: 50px;
    width : 100%;
    background-color:   #F6F2EF;
    border-radius: 15px;
}
.promo-content {
    flex: 1;
    padding-right: 20px;
    .promo-tag {
        display: inline-block;
        padding: 5px 10px;
        background-color: #cceadd;
        color: #26734d;
        border-radius: 5px;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 4rem;
        color: #1A3D73 ;
        margin-bottom: 15px;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 20px;
    }

    .shop-now-button {
        background-color: #FFCC00 ;
        border: none;
        color: white;
        margin-bottom: 15px;
    }

    .promo-price {
        margin-top: 10px;

        .discount-price {
            font-size: 1.5rem;
            font-weight: bold;
            color: #c91b2a ;
            margin-right: 10px;
        }

        .original-price {
            font-size: 1.2rem;
            color: #4D4D4D ;
            text-decoration: line-through;
            margin-right: 10px;
        }

        .promo-note {
            font-size: 0.9rem;
            color: #888;
        }
    }
}